.chapter-loader .chapter-content.classic-scriptures {
  .focused {
    &.verse.highlight {
      border-left: 2.5px solid #068396 !important;
    }
    padding-left: 5px;
    border-left: 2.5px solid #068396 !important;
  }
}

.opaque-icons {
  opacity: 0.5;
}
.note-component + .verse-note {
  margin-top: 32px;
}
