.chapter-loader .chapter-content.classic-scriptures {
  .focused {
    &.verse.highlight {
      border-left: 2.5px solid #068396 !important;
      // outline-style:;
    }
    // padding-left: 5px;
    // border-left: 2.5px solid #068396 !important;
    // outline: solid red;
    // border-radius: 3px;

    &::after {
      // content: "\a0";
      // display: block;
      // padding-top: 2px ;
      // line-height: 1px;
      // border-top: 1px solid #000;
    }

    .focused-icon {
      display: initial;
    }
  }
}

.opaque-icons {
  opacity: 0.2;
}
.note-component + .verse-note {
  margin-top: 48px;
}

.focused-icon {
  display: none;
}
