app-verse-notes,
verse-notes,
.verse-notes {
  display: block;
  background-color: #f7f8f8;

  // position: absolute;
  // width: 300px;
  right: 0;
  top: 0px;
  overflow-y: scroll;
  // height: 100vh;
  font-family: serif;
  verse-note,
  .verse-note {
    > * {
      margin-top: 0;
      margin-bottom: 0;
    }
    display: block;
    list-style: none;
    margin-left: 20px;
    line-height: 22.5px;
    font-size: 0.83em;
    note-phrase,
    .note-phrase {
      user-select: none;
      display: block;
      margin-bottom: 3px;
    }
    .short-title,
    short-title {
      display: inline-block;
      margin-right: 10px;
      font-weight: 700;
    }

    .note-reference,
    note-ref {
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      a {
        color: #0000e0 !important;
        text-decoration: none;
        &:hover {
          color: #274472 !important;
        }
      }
    }
    note,
    .note {
      margin-left: 20px;
      display: block;
      margin-right: 10px;
      margin-bottom: 6px;
    }

    verse-note-group,
    .verse-note-group {
      display: block;
      &.highlight {
        padding-left: 5px;
        border-left: 2.5px solid #f68d2e;
      }
    }
  }
}
.none {
  display: none !important;
}

.jst-mode {
}
.jst-comparison {
  insertion {
    font-weight: 700;
  }
  deletion {
    font-style: italic;
  }

  insertion,
  deletion {
    display: initial;
  }
}
insertion,
deletion {
  display: none;
}
body {
  &.speaker {
    .speaker {
      display: initial !important;
    }
    .ftag-speaker::before {
      content: '🔊';
    }
  }

  .speaker {
    // display: none !important;
  }
}
.edit-mode {
  .edit-mode-offsets {
    display: block;
  }
}
.edit-mode-offsets {
  display: none;
}

.chapternotes ~ .chapternotes {
  .short-title {
    display: none;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
@media (hover: none) {
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
@media (hover: hover) {
  * {
    &:hover {
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
}

* {
  scrollbar-width: thin;
}

.note-whitespace {
  height: 10px;
}
@mixin noteLetter($letter, $count) {
  .verse-note span.note-letter-#{$count}:before {
    content: '#{$letter}';
  }
  p.verse [hasLetter][count='#{$count}'] sup {
    color: #0000e0 !important;
    .note-letter:before {
      content: '#{$letter}';
    }
  }
}

@include noteLetter('a', 1);
@include noteLetter('b', 2);
@include noteLetter('c', 3);
@include noteLetter('d', 4);
@include noteLetter('e', 5);
@include noteLetter('f', 6);
@include noteLetter('g', 7);
@include noteLetter('h', 8);
@include noteLetter('i', 9);
@include noteLetter('j', 10);
@include noteLetter('k', 11);
@include noteLetter('l', 12);
@include noteLetter('m', 13);
@include noteLetter('n', 14);
@include noteLetter('o', 15);
@include noteLetter('p', 16);
@include noteLetter('q', 17);
@include noteLetter('r', 18);
@include noteLetter('s', 19);
@include noteLetter('t', 20);
@include noteLetter('u', 21);
@include noteLetter('v', 22);
@include noteLetter('w', 23);
@include noteLetter('x', 24);
@include noteLetter('y', 25);
@include noteLetter('z', 26);

.note .note-reference {
  display: inline !important;
}
